.cards-container {
  inline-size: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card {
  // plus feaures for new feaured jobs
  &_plus {
    border-left: 5px solid $primary;
  }

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 30px 3%;
  background-color: $light_filter;
  margin-block: 15px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px $dark_gray;
  .card_pre {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    .logo {
      margin-inline-end: 15px;
      border-radius: 50%;
    }

    .info {
      flex: 2;
      h2 {
        color: black;
        font-size: large;
      }
      h2:hover {
        color: $primary;
        cursor: pointer;
      }
      &_2 {
        color: gray;
        font-size: small;
        span {
          margin-inline-end: 10px;
        }
      }
    }
  }
  .card_tags {
    flex: 2;
    margin-block: auto;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      list-style: none;

      li {
        margin-inline: 2%;
        background-color: $light_filter;
        color: $primary;
        font-weight: bold;
        padding: 2%;
        border-radius: 5px;
        &:hover {
          color: $secondary_bg;
          background-color: $primary;
          cursor: pointer;
        }
      }
    }
  }
}
