header {
  background-color: $primary;
  height: calc(15vh + 25px);
  background-image: url("./../assets/images/bg-header-desktop.svg");
  background-size: cover;
  //   background-color: ;
}
main {
  font-size: 15px;
  height: 100%;
  inline-size: 100%;
  margin-inline: auto;
  background-color: $secondary_bg;
  padding-block: calc($mvp + 5px);
  .search-box {
    margin-block: $mvm $mvp;
  }
}
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: $mvp;
  background-color: $primary;
}
